[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target

[Service]
User={{ consul_template_user }}
Group={{ consul_template_group }}
{% if consul_template_use_config_dir %}
ExecStart={{ consul_template_home }}/bin/{{ consul_template_binary }} -config={{ consul_template_home }}/config/"
{% else %}
ExecStart={{ consul_template_home }}/bin/{{ consul_template_binary }} -config={{ consul_template_home }}/config/{{ consul_template_config_file }}
{% endif %}
Restart=on-failure

KillSignal=SIGINT
ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
