consul = "{{ consul_template_consul_server }}:{{ consul_template_consul_port }}"
{% if consul_template_templates %}
{% for template in consul_template_templates %}


template {
  source = "{{ consul_template_home }}/templates/{{ template.name }}"
  destination = "{{ template.dest }}"
  {% if template.cmd is defined %}command = "{{ template.cmd }}"{% endif %}
  
  {% if template.perms is defined %}perms = {{ template.perms }}{% endif %}
  
  {% if template.backup is defined %}backup = {{ template.backup|lower }}{% endif %}

}{% endfor %}
{% endif %}
